<!DOCTYPE html>
<html>
<head>
    <title>Susanna's Blog</title>
</head>
<body style="background-color: #d49cec;">
    <h1 style="text-align: center;">My Classes</h1>

    <div style="background-color: #ec9cdc; line-height=150%">
        <blockquote style="text-align: center;">
            <br>
            INTRO TO EAST ASIAN CIV: KOREA
            <br>
            <br>
            INTRO TO E ASIAN CIV:KOREA-DISC
            <br>
            <br>
            INDEPENDENT STUDY
            <br>
            <br>
            INTRO TO CLASSICAL CHINESE II
            <br>
            <br>
            INTRO TO COMP FOR ENG/APP SCI
            <br>
            <br>
            SOCIAL PSYCHOLOGY - LAB
            <br>
            <br>
        </blockquote>
    </div>

    <div style="background-color: #9cb4ec;">
        <blockquote style="text-align: center;">
            <br>
            My favorite class this semester is the independent study class for my thesis.
            I am able to think and write about my passion—a traditional Chinese opera form.
            I believe that I work best in a free, personalized learning environment.
            <br>
            <br>
        </blockquote>
    </div>

    <center>
    <img src="{{ url_for('static', filename='dragon-art.png') }}" align="middle">
    </center>
</body>
</html>
