<!DOCTYPE html>
<html>
<head>
    <title>Susanna's Blog</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
<body>
    <h1 style="text-align: center;">Welcome to My Blog!</h1>

    <div style="background-color: #9cb4ec">
    <center>
        <img src="{{ url_for('static', filename='flowers-1.png') }}" alt="flowers-1" height="560" width="600" align="left">
        <img src="{{ url_for('static', filename='susanna.jpg') }}" alt="This me!" height="560" width="700" align="middle">
        <img src="{{ url_for('static', filename='flowers-2.png') }}" alt="flowers-2" height="560" width="600" align="right">
    </center>
    </div>

    <h2>About Me</h2>

    <b>Name: </b>Susanna Sun<br>
    <b>Grade: </b>Senior<br>
    <b>Major: </b>East Asian Languages and Cultures<br>
    

    <h2>This is my favorite website, enjoy :)</h2>
    <a href="https://www.youtube.com/watch?v=zOoKGmChdLE">柳毅传书 - 竺水招 筱水招</a>

    <h2>More fun links</h2>

    <a href="classes">My Classes</a>
    <br>
    <a href="puppy">Puppy Pals</a>

</body>
</html>
